services:
  pasto_legal:
    build:
      context: .
      dockerfile: ./docker/prod/Dockerfile
    command: uvicorn main:app --host 0.0.0.0 --port 8080 --reload
    ports:
      - "8080:8080"
    env_file:
      - .env