services:
  app:
    build: .
    command: uv run streamlit run ./app/interfaces/streamlit.py --server.port 8080
    volumes:
      - .:/app
      - /app/.venv
    ports:
      - "8080:8080"
    environment:
      - PYTHONPATH=/app
    env_file:
      - .env